body, div, ul, li, h1, p {
    margin: 0;
    padding: 0;
}

body {
    width: 960px;
    font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
    font-size: 16px;
}

#wrapper {
    width: 380px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px;
    background: -webkit-linear-gradient(#eeeeee, #ababab);
}

h1 {
    margin: 15px 10px 10px;
    font-size: 1.8em;
    text-align: center;
    color: #555555;
}

ul {
    list-style-type: none;
}

.me-item {
    border: 1px solid black;
    border-radius: 15px;
    width: 230px;
    height: 65px;
    margin-left: 135px;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(#2dedff, #bcfaff);
    position: relative;
    color: #555555;
}

span {
    margin: 5px 15px 0;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
}

    span.date {
        z-index: 1;
        font-size: 0.8em;
        font-weight: normal;
        font-family: Consolas;
        padding-left: 80px;
        margin-top: 0;
        margin-bottom: 5px;
        position: absolute;
    }

p {
    padding: 0 15px;
    margin: 0;
}

.toshko-item {
    border: 1px solid black;
    border-radius: 15px;
    width: 230px;
    height: 65px;
    margin-left: 15px;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(#dfffd2, #71ff3d);
    position: relative;
    color: #555555;
}

    .toshko-item span:first-of-type {
        margin-left: 160px;
    }

    .toshko-item span.date {
        padding-left: 0;
    }

input {
    height: 30px;
    width: 265px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #555;
    padding-left: 10px;
    background:#eeeeee;
}

button {
    background: -webkit-linear-gradient(#ededed, #adadad);
    border: none;
    border-radius: 5px;
    width:65px;
    height:30px;
    font-size:1.1em;
    /*font-weight:bold;*/
}

button:hover{
    background:#eeeeee;
}
