body {
    background-color: #f1f1f1;
    font-family: Calibri;
    font-size: 18px;
}

nav {
    float: left;
}

aside {
    float: right;
}

nav, aside {
    width: 11%;
}

    nav span {
        padding-left: 20px;
        font-weight: bold;
        background-image: url(home.png);
        background-size: 15px;
        background-repeat: no-repeat;
    }

ul {
    list-style-type: none;
    padding: 0px;
    text-align: left;
}


a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: underline;
    }

.submenu {
    margin-top: 20px;
}

    .submenu > a {
        color: #910e0c;
        font-weight: bold;
    }

.main-content {
    border: 1px solid grey;
    float: left;
    width: 76%;
    padding: 10px;
    background-color: #fff;
}

    .main-content input[type=button] {
        width: 10%;
        height: 25px;
        text-align: center;
        background-color: #fff;
        background-size: 10px;
        background-repeat: no-repeat;
        background-position-y: 4px;
        border: 1px solid black;
    }

    .main-content input[value=Previous] {
        background-image: url(prev.png);
                background-position-x: 3px;
    }

    .main-content input[value=Next] {
        background-image: url(next.png);
        background-position-x: 103px;
    }

hr {
    height: 2px;
    background-color: #959595;
}

h3 {
    background-color: #808080;
    color: #fff;
    margin-top: 0px;
}

section:first-of-type p {
    font-weight: bold;
}

section a {
    color: #e02121;
    display: inline-block;
    margin-bottom: 20px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

section:first-of-type:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

aside a {
    color: #e02121;
    display: block;
}

aside div {
    text-align: center;
    border: 1px solid grey;
    margin: 2px;
}

aside h3 {
    margin: 0;
}

input[name="search-button"] {
    border-radius: 5px;
    background-color: #fff;
    font-weight: bolder;
}

input[name="search-box"] {
    width: 100px;
}

input[name="styles-button"] {
    width: 120px;
    height: 40px;
    border: 1px solid;
    color: #1cc5ff;
    border-color: #4b8ab8;
    box-shadow: 0 0 0 1px white inset;
    background: rgb(146,190,252); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(left, rgba(146,190,252,1) 0%, rgba(193,240,242,1) 10%, rgba(193,240,242,1) 90%, rgba(146,190,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(146,190,252,1)), color-stop(10%,rgba(193,240,242,1)), color-stop(90%,rgba(193,240,242,1)), color-stop(100%,rgba(146,190,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(146,190,252,1) 0%,rgba(193,240,242,1) 10%,rgba(193,240,242,1) 90%,rgba(146,190,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(146,190,252,1) 0%,rgba(193,240,242,1) 10%,rgba(193,240,242,1) 90%,rgba(146,190,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(146,190,252,1) 0%,rgba(193,240,242,1) 10%,rgba(193,240,242,1) 90%,rgba(146,190,252,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(146,190,252,1) 0%,rgba(193,240,242,1) 10%,rgba(193,240,242,1) 90%,rgba(146,190,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92befc', endColorstr='#92befc',GradientType=1 ); /* IE6-8 */
}
